<h1>Merchants</h1>

<%@merchants.each do |merchant|%>
<section id="merchant-<%=merchant.id%>"
    <p><%=merchant.name%></p>
    <%if !merchant.disabled?%>
       <%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch%>
    <%else%>
      <p>Disabled</p>
    <%end%>
  </section>
<%end%>
